# apiVersion: v1
# kind: Namespace
# metadata:
#   name: mlflow
# ---
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: mlflow-pvc
#   namespace: mlflow
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 5Gi
# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: mlflow
#   namespace: mlflow
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: mlflow
#   template:
#     metadata:
#       labels:
#         app: mlflow
#     spec:
#       containers:
#       - name: mlflow
#         image: ghcr.io/mlflow/mlflow:v2.17.2
#         command: ["mlflow"]
#         args:
#         - server
#         - --host
#         - "0.0.0.0"
#         - --port
#         - "5000"
#         - --backend-store-uri
#         - sqlite:///mlflow/mlflow.db
#         - --default-artifact-root
#         - /mlflow/artifacts
#         ports:
#         - containerPort: 5000
#           name: http
#         volumeMounts:
#         - name: mlflow-storage
#           mountPath: /mlflow
#       volumes:
#       - name: mlflow-storage
#         persistentVolumeClaim:
#           claimName: mlflow-pvc
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: mlflow
#   namespace: mlflow
# spec:
#   type: NodePort
#   ports:
#   - port: 5000
#     targetPort: 5000
#     nodePort: 30500
#     name: http
#   selector:
#     app: mlflow


# new to store artifacts in MinIO
apiVersion: v1
kind: Namespace
metadata:
  name: mlflow
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-pvc
  namespace: mlflow
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.17.2
        command: ["mlflow"]
        args:
        - server
        - --host
        - "0.0.0.0"
        - --port
        - "5000"
        - --backend-store-uri
        - sqlite:///mlflow/mlflow.db
        - --default-artifact-root
        - s3://mlflow/artifacts/
        env:
        - name: MLFLOW_S3_ENDPOINT_URL
          value: "http://minio.minio.svc.cluster.local:9000"
        - name: AWS_ACCESS_KEY_ID
          value: "minioadmin"
        - name: AWS_SECRET_ACCESS_KEY
          value: "minioadmin"
        ports:
        - containerPort: 5000
          name: http
        volumeMounts:
        - name: mlflow-storage
          mountPath: /mlflow
      volumes:
      - name: mlflow-storage
        persistentVolumeClaim:
          claimName: mlflow-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: mlflow
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
    name: http
  selector:
    app: mlflow